################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode2021/.vs/AdventOfCode2021/v16
*.user
/AdventOfCode2021/x64/Release
/AdventOfCode2020/x64/Debug
/cpp/x64
